<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>InstagramTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadService</servlet-name>
    <servlet-class>test.UploadService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadService</servlet-name>
    <url-pattern>/upload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectService</servlet-name>
    <servlet-class>test.SelectService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectService</servlet-name>
    <url-pattern>/select.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>test.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main.do</url-pattern>
  </servlet-mapping>
</web-app>