@charset "UTF-8";

.carousel-inner>.item>img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
img{
	width: 640px;
	height: 360px;
	object-fit: contain;
}

video{
	width: 640px;
	height: 360px;
	object-fit: contain;

}

.carousel {
	width: 640px;
	height: 360px;
}

.carousel-inner {
	width: 640px;
	height: 360px;
}
